{% extends 'base.html' %}
{% block content %}
{% load static %}
	<center><h2>Personal Clinica - Settings</h2></center>
	<center>
		<form>
			<input class="form-control" type="" name="" placeholder="Nombre">
			<input class="form-control" type="" name="" placeholder="Edad">
			<input class="form-control" type="" name="" placeholder="Cedula">
			<input class="form-control" type="" name="" placeholder="Especialidad">
			<input class="form-control" type="" name="" placeholder="Horario de consulta">
			<button class="btn btn-primary">Ingresar Datos</button>

		</form>
	</center>
	
{% endblock %}